* {
    transition: 0.3s;
}

:root {
    --bg: #ffffff;
    --card-bg: #f5f5f5;
    --text: #111111;
    --border: #dcdcdc;
    --input-bg: #ffffff;
    --button-bg: #7c5cff;
    --border-black:#333;
    --box-shadow: #131111;
}

body.dark {
    --bg: #060b2d;
    --card-bg: #0b1035;
    --text: #ffffff;
    --border: #444;
    --input-bg: #13183f;
    --button-bg: #7c5cff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
}

.title {
    color: var(--text);
    font-size: 25px;
}

.wrapper_content-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.image {
    width: 25px;
    height: 25px;
}

h1,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    position: relative;
    margin: 100px 10px 100px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    border-radius: 5px;
    background-color: var(--card-bg);
    padding: 15px;
    max-width: 700px;
    width: 100%;
    box-shadow: 2px 2px 9px var(--box-shadow);
}

.lightAndDark {
    position: absolute;
    top: 13px;
    right: 18px;
    cursor: pointer;
    border: none;
    background: unset;
    font-size: 20px;
}

.container_wrapper-content {
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 10px;
    align-items: start;
}

.remove-completed {
    border-radius: 5px;
    height: 40px;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid var(--border-black);
    color: var(--text);
}

.remove-completed:hover {
    border: 1px solid var(--border-black);
    color: var(--button-bg);
}

.select-all {
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    background: rgba(255, 255, 255, 0.03);
    cursor: pointer;
    border: 1px solid var(--border-black);
    color: var(--text);
}

.select-all:hover {
    border: 1px solid var(--border-black);
    color: var(--button-bg);
}

.container_input {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input,
.search-input,
.date-input {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid var(--border-black);
    border-radius: 5px;
    padding: 0 10px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: var(--text);
}

.date-input {
    max-width: 160px;
}

.container_deadLine-input {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    width: 100%;
}


.date-input {
    max-width: 250px;
}

.deadLine_input--select {
    height: 50px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid var(--border-black);
    color: var(--text);
    padding: 0 10px;

}

option {
    color: var(--text);
    background-color: var(--bg);
}

.input::placeholder,
.search-input::placeholder {
    color: var(--text);
}

.btn {
    cursor: pointer;
    max-width: 100px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #7C5CFF;
    color: #fff;
}

.todo_wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.navigation_list {
    display: flex;
}

.navigation_list--link {
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: unset;
    color: #747474;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    color: var(--text);
}

.active {
    color: var(--text);
    background-color: #7C5CFF;

}

.container-todos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    color: var(--text);
}

.container-buttons {
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.todo {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid var(--border-black);
    border-radius: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    min-height: 50px;
    height: auto;
    border: 1px solid #cecccc;
    padding: 15px;


    .todo-checkbox {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        cursor: pointer;
        accent-color: #7C5CFF;
    }

    .todo-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
    }

    .todo-text {
        cursor: pointer;
        word-break: break-all;
    }

    .todo_info--dates {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .todo-date {
        font-size: 14px;
    }

    .todo-deadLine-date {
        font-size: 12px;
    }

    .remove-btn {
        background-color: unset;
        border: none;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .remove-btn:disabled {
        cursor: not-allowed;
    }
}

.label-todo {
    color: var(--text);
}

.todo-checkbox:checked~.todo-info .todo-text {
    text-decoration: line-through;
}

.todo-checkbox:checked~.todo-info .todo-date {
    text-decoration: line-through;
}

.input-replace {
    color: var(--text);
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.03);;
    border: 1px solid var(--border-black);
    width: 100%;
}